.pantalla{
    display: flex; 
    background-color:#262626;
    margin:15px;
    height:100%;
}

.formulario{
    display: flex;
    flex-direction: column;
}

.formulario input {
    color:#000000;
}

.div-table{
    background-color: #000000;
    Color:#FFCB08;
    width: 50%;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    justify-content: center;
}

.table{
    border-collapse: collapse;
    width: 95%;
    padding:5px;
}
.cabecera{
    Color:#FFCB08;
}

.cabecera tr th{
    
    border-bottom: #FFCB08 2px solid;
}

.fila{
    border-bottom: #626262 2px solid;
}

.estado {
    margin: 0;
    color: green;
}